.main {
  height: 100vh;
  background-color: #F5F5F5 !important;
  padding: 10px;
}
.item {
  width: 100%;
  padding: 15px 10px;
  tr {
    vertical-align: middle;
    display: flex;
  }
  .label {
    flex: 1 1 25%;
    color:#888888;
    font-size: 14px;
    padding-right: 4px; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .value {
    flex: 1 1 75%;
    font-size: 14px;
    padding-left: 4px; 
    font-weight: 500;
  }
  .sm {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    color: #000;
    border-radius: 15px;
    margin-left: 10px;
  }
}

.top {
  background-color: #FFF;
  padding:15px 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  .head {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 15px;
    div {
      font-size: 10px;
    }
  }
}
.bottom {
  border-top: 1px #DDD dashed;
  background-color: #FFF;
  padding:15px 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  .top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    .sm {
      font-size: 16px;
      height: 25px;
      line-height: 25px;
      padding: 4 20px;
      color: #000;
      border-radius: 15px;
    }
  }
  .box {
    border-bottom: 1px #DDD solid;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0px;
      .left {
        flex: 1;
        font-size: 16px;
        font-weight: 500;
      }
      .right {
        color: #BFBFBF;
        font-size: 12px;
      }
    }
    .line {
      font-size: 12px;
      font-weight: 300;
      color: #3E3E3E;
    }
    .stepper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0px;
      .label {
        font-size: 12px;
        color: #3E3E3E;
      }
      .set {
        flex: 0 0 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .ic {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.mat-raised-button {
  padding: 4px 24px;
  font-size: 16px;
  border-radius: 30px;
}