<div class="main">
<WhiteSpace [size]="'sm'"></WhiteSpace>
<WingBlank [size]="'sm'">
  <div class="top">
    <div style="display:flex;justify-content: space-between;align-items: center;padding: 0px 5px 10px">
      <h4 style="color: #888">订单编号: {{info.code}}</h4>
      <h5 style="color: #D5D5D9">{{info.createTime}}</h5>
    </div>
    <h3 style="text-align: center;padding-bottom: 5px;">预约订单已提交成功</h3>
    <h4 style="text-align: center;padding-bottom: 5px;">请向以下<span style="color:#ffd740">银行账户进行汇款保证取车进度</span></h4>
   
    <div style="background: #F5F5F5">
      <table class="item">
        <tr>
          <td class="label" align="right">预付金额</td>
          <td class="value" align="left">￥{{info.totalRePrice}}</td>
        </tr>
        <tr>
          <td class="label" align="right">银行账号</td>
          <td class="value" align="left">34050144860800000587</td>
          <td class="sm" Button [type]="'primary'" [inline]="true" [size]="'small'">复制</td>
        </tr>
        <tr>
          <td class="label" align="right">收款公司</td>
          <td class="value" align="left">米粒好车有限公司</td>
        </tr>
        <tr>
          <td class="label" align="right">开户行</td>
          <td class="value" align="left">中国建设银行股份有限公司合肥城东支行营业部</td>
        </tr>
        <tr>
          <td class="label" align="right">备注信息</td>
          <td class="value" align="left"></td>
        </tr>
        <tr>
          <td class="label" align="right">联系电话</td>
          <td class="value" align="left"><a href="tel:055163668003">055163668003</a></td>
          <td class="sm" *ngIf="info.status == '0'" Button [type]="'primary'" [inline]="true" [size]="'small'" (click)="updata()">我已汇款</td>
          <td class="sm" style="background:#CCC; color:#FFF" *ngIf="info.status == '1'" Button [type]="''" [inline]="true" [size]="'small'" >已汇款</td>
        </tr>
      </table>
    </div>
  </div>
  <section class="bottom">
    <h3>预定清单</h3>
    <div style="border-bottom: 1px #DDD solid" *ngFor="let i of cars">
      <div style="display: flex;justify-content: space-between;padding: 8px 0px">
        <h4>{{i.seriesName}} {{i.modelName}}</h4>
        <span style="color: #BFBFBF;font-size: 12px">指导价: {{i.guidePrice}}万</span>
      </div>
      <h5 style="color: #3E3E3E">外观: {{i.plasticColor}}  内饰: {{i.trimColor}}</h5>
      <div style="display: flex;justify-content: space-between;padding: 8px 0px">
        <div style="color: #3E3E3E"><span style="color: #FF7800;font-size: 16px">预付: {{i.rePrice}}万</span> 全款{{i.price}}万</div>
        {{i.amount}}辆
      </div>
    </div>  
  </section>
</WingBlank>
<WhiteSpace [size]="'sm'"></WhiteSpace>
</div>
