.main {
  background-color: #F5F5F5 !important
}

.top {
  // background: #58a;
  background:
  linear-gradient(135deg, transparent 15px, #FFF 0) top left,
  linear-gradient(-135deg, transparent 15px, #FFF 0) top right;
  background-size: 50% 50%; 
  background-repeat: no-repeat;
}
.bottom {
  // background: 
  // linear-gradient(-45deg, transparent 15px, #FFF 0) bottom right,
  // linear-gradient(45deg, transparent 15px, #FFF 0) bottom left;
  // background-size: 50% 50%; 
  // background-repeat: no-repeat;
  outline: .6em solid green;
  box-shadow: 0 0 0 .4em green;
  /* todo calculate max of this */
  max-width: 10em;
  border-radius: .8em;
  padding: 1em;
  margin: 1em;
  background: red;
  font: 100%/1.5 sans-serif;
}