:host ::ng-deep.mat-card {
  padding: 16px 0px; 
  .mat-card-header-text {
    width: 100%;
    text-align: center;
  }
} 
.content {
  background-color: #F6F6F6;
  .content-header {
    background-color: rgba(0,0,0,.12);
    color: #4caf50;
    box-shadow: 0 0px 0 rgb(67, 47, 40), 0 0 15px #412f1c, 0 1px 3px rgba(0,0,0,.05);
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  .ui-content-header {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -108px;
    padding-top: 200px;
    padding-bottom: 58px;
    background-image: url(https://upload.chebaba.com/shop/goods_class/05936302004911750.jpg@343h);
  }
  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    .title {
      color: #FFD400;
      font-weight: 500;
      font-size: 26px
    }
    .desc {
      color: #7E7E7E
    }
  }
}
