<main class="content">
  <div class="content-header ui-content-header">
    <div class="container"></div>
  </div>
  <div class="container">
    <section>
      <Flex>
        <FlexItem style="padding:5px">
          <mat-card>
            <mat-card-header>
              <mat-card-title style="font-size: 20px;font-weight: 600">在米粒 人人都可以做车商</mat-card-title>
              <mat-card-subtitle style="color: #A2A2A2">信息准 手续全 周转快</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <Flex align="start">
                <FlexItem  class="info">
                  <div class="title">500+</div>
                  <div class="desc">专业供应商</div>
                </FlexItem>
                <FlexItem class="info">
                  <div class="title">20%</div>
                  <div class="desc">预付20%即可提车</div>
                </FlexItem>
                <FlexItem class="info">
                  <div class="title">4000+</div>
                  <div class="desc">在库实车</div>
                </FlexItem>
              </Flex>
            </mat-card-content>
            <mat-card-footer style="padding: 10px 25px;">
              <div Button [type]="'primary'" style="color: #000;font-weight: bold" routerLink="/search">开始订车</div>
            </mat-card-footer>
          </mat-card>
        </FlexItem>
      </Flex>
    </section>
  </div>

  <section style="margin: 0px">
      <Card [full]="true">
          <CardHeader class="title"  style="" [title]="'热门品牌'" [extra]="extra">
            <ng-template #extra>
              <span routerLink="/search" class="text">全部品牌</span>
            </ng-template>
          </CardHeader>
          <CardBody style="padding: 0px">
            <Grid [data]="data" [hasLine]="false" columnNum="5" (OnClick)="click($event)"></Grid>
          </CardBody>
        </Card>
  </section>
  <section style="background-color: #F6F6F6;height:8px"> </section>
  <section>
      <Card [full]="true">
        <CardHeader class="title" [title]="'热门车型'" [extra]="extra">
          <ng-template #extra>
            <span routerLink="/search" class="text">全部车型</span>
          </ng-template>
        </CardHeader>
        <CardBody style="padding: 0px">
          <div class="listitem" *ngFor="let item of carList" (click)="openBottomSheet(item)">
            <div class="top">
              <div class="left">{{item.modelName}}</div>
              <div *ngIf="item.price > 0" class="right">{{item.price}}万</div>
              <div *ngIf="item.price == 0" class="right">价格电仪</div>
            </div>
            <div class="bottom">
              <div class="left">{{item.sizeLevel}} {{item.plasticColor.join('/')}}</div>
              <div class="right">指导价: {{item.guidePrice}}万</div>
            </div>
          </div>
          <!-- <ListItem *ngFor="let item of carList" multipleLine [extra]="list" (click)="openBottomSheet(item)">
            {{item.seriesName}} {{item.modelName}}
            <Brief>{{item.sizeLevel}} {{item.plasticColor.join('/')}}</Brief>
            <ng-template #list>
                <div style="color: #FF7800;font-size: 16px">{{item.price}}万</div>
                <div style="color: #BFBFBF;font-size: 12px"></div>
            </ng-template>
          </ListItem> -->
        </CardBody>
      </Card>
  </section>

</main>


<div id="cover" *ngIf="modal" (click)="modal = false"></div>
<div id="modal" *ngIf="modal">
  <h3 style="padding: 10px 15px;font-size: 16px">请先关注米粒车公众号后使用</h3>
  <img src="https://ricecar.oss-cn-hangzhou.aliyuncs.com/B371B86094FAE7EBA38782E5D7473580.jpg" width="100" height="100">
  <h4 style="padding: 10px 15px;color: #A2A2A2">长按识别上方二维码图片</h4>
</div>