

.login-form {
  padding: 10px 0px;
  .full-width {
    width: 100%;
  } 
}

.mat-raised-button {
  padding: 7px 0px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
}

.mat-focused {
  caret-color: #ffd740;
}

.mat-input-element {
  font-size: 20px;
}
.mat-form-field-label-wrapper label{
  font-size: 16px;
}