<div style="padding: 12px 20px">
  <h2>登录</h2>
  <form class="login-form">
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" placeholder="手机号">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
     
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="validCode" [ngModelOptions]="{standalone: true}" placeholder="验证码">
      <button matSuffix mat-button color="accent" (click)="getCode()">发送验证码</button>
    </mat-form-field>
    <button mat-raised-button color="accent" style="width: 100%" (click)="login()">请绑定手机号</button>
  </form>
</div>
<div style="position: absolute;bottom: 0;margin: 45px">
    <AgreeItem data-seed="logId">
      阅读并同意 <a style="color:#ffd740">《米粒好车用户协议》</a>
    </AgreeItem>
</div>
    



