<div class="body">
  <div class="container">
    <div class="line order-line clearfix">
      <div class="order">共取车 {{totalAmount}}辆 需付尾款</div>
      <div class="time" style="color: #FF7800">{{totalCutPrice}}万元</div>
    </div>
    <div class="order-box fz24" style="height: 2.4rem">
      <h2 class="line" style="padding-left:0.45rem">预约取车时间</h2>
      <div class="line">
        <div class="title">取车时间</div>
        <div class="des">
          <a style="color:#FFD400" DatePicker [mode]="'datetime'" [minDate]="minDate" (onOk)="onOk1($event)">
            {{timeText ? timeText : '请选择时间'}}
          </a>
        </div>
      </div>
      <div class="line">
        <div class="title">取车地点</div>
        <div class="des">米粒好车有限公司</div>
      </div>
    </div>

    <div class="border"></div>

    <div class="list-box">
      <div class="title">取车清单</div>
      <div class="box" *ngFor="let i of cars;let index = index">
        <div class="head">
          <h4 class="left">{{i.modelName}}</h4>
          <span class="right">指导价: {{i.guidePrice}}万</span>
        </div>
        <h5 class="line">外观: {{i.plasticColor}}  内饰: {{i.trimColor}}</h5>
        <div class="stepper">
          <div class="label" *ngIf="i.cutPrice > 0"><span style="color: #FF7800;font-size: 16px">尾款: {{i.cutPrice}}万</span></div>
          <div class="label" *ngIf="i.cutPrice == 0"><span style="color: #FF7800;font-size: 16px">金额电议</span></div>
          <div class="set">
            <!-- <div style="flex:1">
              全款{{i.price}}万
              <img class="ic" (click)="del(index)" src="../../../assets/db/icon_decrease_nor.png"/>
            </div> -->
            <span style="flex: 1"> {{i.amount}}辆</span>
            <!-- <div style="flex:1">
              <img class="ic" (click)="add(index)" src="../../../assets/db/icon_incarease_nor.png"/>
            </div> -->
          </div>
        </div>
      </div>
      <!-- <div class="list" *ngFor="let i of cars;let index = index">
        <div class="line clearfix">
          <div class="name">{{i.seriesName}} {{i.modelName}}</div>
          <div class="money">指导价：{{i.guidePrice}}万</div>
        </div>
        <div class="line size">外观: {{i.plasticColor}} 内饰: {{i.trimColor}}</div>
        <div class="line clearfix">
          <div class="pay">
            <span class="first">尾款: {{i.cutPrice}}万</span>
            <span>全款{{i.price}}万</span>
          </div>
          <div class="num">{{i.amount}}辆</div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="bottom">
  <div class="line">
    <div class="left">
      已选{{totalAmount}}辆，尾款：<span style="color:#FF7800">{{totalCutPrice}}</span>万
    </div>
    <div class="right">
      <div class="submit" (click)="submit()">确认取车</div>        
    </div>
  </div>
</div>