.fab {
    position: absolute;
    right: 16px;
    bottom: 16px;
    
}

// .item {
//     width: 100%;
//     padding: 10px 5px;
//     tr {
//       vertical-align: middle;
//     }
//     .label {
//       width: 40%;
//       color:#888888;
//       padding-right: 4px; 
//     }
//     .value {
//       width: 60%;
//       font-size: 16px;
//       padding-left: 4px; 
//     }    
// }

.top {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  .sm {
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    padding: 4 20px;
    color: #000;
    border-radius: 15px;
  }
}

.box {
  border-bottom: 1px #DDD solid;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 8px 0px 5px;
    .left {
      flex: 1;
      font-size: 15px;
      font-weight: 600;
    }
    .right {
      color: #BFBFBF;
      font-size: 12px;
      margin-left: 20px;
    }
  }
  .line {
    font-size: 12px;
    font-weight: 300;
    color: #3E3E3E;
  }
  .stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px 13px;
    .label {
      font-size: 12px;
      color: #3E3E3E;
    }
    .set {
      flex: 0 0 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .ic {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  .line {
    padding: 7px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-top: 1px #D0D0D0 solid;
    .left {
      flex: 1;
      width:181px;
      // height:23px;
      font-size:16px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(0,0,0,1);
      // line-height:23px;
    }
    .right {
      flex: 0 0 100px;
      padding-left: 7px;
      border-left:1px solid #E0E0E0;
      .submit {
        padding: 6px 14px;
        background:rgba(255,212,0,1);
        border-radius:2px;
        width:126px;
        height:34px;
        font-size:16px;
        font-family:PingFangSC-Medium;
        font-weight:600;
        color:rgba(0,0,0,1);
        line-height:23px;
        text-align: center;
        box-sizing: border-box;
      }
    }
  }
}