<section style="padding: 5px 15px">
  <div style="display:flex;justify-content: space-between;align-items: center;padding: 10px 0px">
    <h2>车辆预订单</h2>
    <div Button class="sm" [type]="'primary'" [inline]="true" [size]="'small'">说明</div>
  </div>
  <div style="border-bottom: 1px #DDD solid" *ngFor="let i of list;let index = index">
    <div style="display: flex;justify-content: space-between;padding: 8px 0px">
      <h4>{{i.brandName}} {{i.modelName}}</h4>
      <span style="color: #BFBFBF;font-size: 12px">指导价: {{i.guidePrice}}万</span>
    </div>
    <h5 style="color: #3E3E3E">外观: {{i.plasticColor}}  内饰: {{i.trimColor}}</h5>
    <div style="display: flex;justify-content: space-between;padding: 8px 0px">
      <div style="color: #3E3E3E"><span style="color: #FF7800;font-size: 16px">预付: {{i.rePrice}}万</span> 全款{{i.price}}万</div>
      <div style="flex:1;display: flex;justify-content: space-between;align-items: center;text-align: center">
        <div style="flex:1">
          <img class="ic" (click)="del(index)" src="../../../assets/db/icon_decrease_nor.png"/>
        </div>
        <span style="flex: 1"> {{i.amount}}辆</span>
        <div style="flex:1">
          <img class="ic" (click)="add(index)" src="../../../assets/db/icon_incarease_nor.png"/>
        </div>
      </div>
    </div>
  </div>
</section>


<div style="position: absolute;width:100%;bottom: 0;border-top: 1px #CCC solid">
  <div style="display:flex;align-items: center;justify-content: space-between;margin: 10px">
      <div>
          <div>预付总计:  <span style="color: #FF7800;">{{totalRePrice}}万</span></div>
          <h4>稍后会有业务员与您联系</h4>
        </div>
        <div Button style="margin-right: 4px" (click)="submit()" [type]="'primary'" [inline]="true" [size]="'small'">提交订单</div>
  </div>
  
</div>