.fab {
    position: absolute;
    right: 16px;
    bottom: 16px;
    
}

.item {
    width: 100%;
    padding: 10px 5px;
    tr {
      vertical-align: middle;
    }
    .label {
      width: 40%;
      color:#888888;
      padding-right: 4px; 
    }
    .value {
      width: 60%;
      font-size: 16px;
      padding-left: 4px; 
    }    
}
.sm {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    color: #000;
    border-radius: 15px;
}


.ic {
    width: 20px;
    height: 20px;
  }
  