<section style="padding: 5px 15px">
  <div class="top">
    <h2 style="font-size: 24px">申请垫资</h2>
    <div Button class="sm" [type]="'primary'" [inline]="true" [size]="'small'">说明</div>
  </div>
  <div style="display: flex;padding-top: 17px;">
    <img src="https://ricecar.oss-cn-hangzhou.aliyuncs.com/xiazai-copy.png" width="28" height="28">
    <div Picker [(ngModel)]="ratio" [data]="select" cols="1" (ngModelChange)="onSelect($event)" style="padding-bottom:17px;flex:1;display: flex;justify-content: space-between;border-bottom: 1px solid #E6E6E6;margin-left: 12px">
      <div style="color:#282828;font-size: 16px">配资比例:</div>
      <div style="color:#FFD400;font-size: 18px">{{ratio.label}}</div>
    </div>
  </div>
  <div style="display: flex;padding-top: 17px;">
    <img src="https://ricecar.oss-cn-hangzhou.aliyuncs.com/cheliang-.png" width="28" height="28">
    <div Picker [(ngModel)]="fromType" [data]="select2" cols="1" (ngModelChange)="onSelect2($event)" style="padding-bottom:17px;flex:1;display: flex;justify-content: space-between;margin-left: 12px">
      <div style="color:#282828;font-size: 16px">车辆来源:</div>
      <div style="color:#FFD400;font-size: 18px">{{fromType.label}}</div>
    </div>
  </div>
</section>
<section style="padding: 5px 15px">
  <div class="top">
    <h2 style="font-size: 24px">车辆预订单</h2>
    <!-- <div Button class="sm" [type]="'primary'" [inline]="true" [size]="'small'">说明</div> -->
  </div>
  <div class="box" *ngFor="let i of list;let index = index">
    <div class="head">
      <h4 class="left">{{i.seriesName}} {{i.modelName}}</h4>
      <span class="right">指导价: {{i.guidePrice}}万</span>
    </div>
    <h5 class="line">外观: {{i.plasticColor}}  内饰: {{i.trimColor}}</h5>
    <div class="stepper">
      <div class="label" *ngIf="i.rePrice > 0"><span style="color: #FF7800;font-size: 16px">垫资: {{i.rePrice}}万</span> 全款{{i.price}}万</div>
      <div class="label" *ngIf="i.rePrice == 0"><span style="color: #FF7800;font-size: 16px">价格电议</span></div>
      <div class="set">
        <div style="flex:1">
          <img class="ic" (click)="del(index)" src="../../../assets/db/icon_decrease_nor.png"/>
        </div>
        <span style="flex: 1"> {{i.amount}}辆</span>
        <div style="flex:1">
          <img class="ic" (click)="add(index)" src="../../../assets/db/icon_incarease_nor.png"/>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="bottom">
  <div class="line">
      <div class="left">
        <div *ngIf="totalRePrice > 0">申请垫资:  <span style="color: #FF7800;">{{totalRePrice}}万</span></div>
        <div *ngIf="totalRePrice == 0">申请垫资:  <span style="color: #FF7800;">价格电议</span></div>
        <h4 style="color:#3E3E3E;font-size: 12px;padding:4px 0px;">稍后会有业务员与您联系</h4>
      </div>
      <div class="right">
        <div class="submit" (click)="submit()">提交订单</div>
      </div>
  </div>
</div>

<Modal [(ngModel)]="modal" [transparent]="true" [title]="'提示'" [footer]="footer">
  请先认证个人信息
</Modal>