<div style="padding: 12px 20px">
<h2>垫资订车流程说明</h2>
</div>
<div class="item">
  <div class="left">step1</div>
  <div class="center">
    <div class="point" style="margin-top: 10px"></div>
    <div class="line" style="height: 70px"></div>
  </div>
  <div class="right">
    在系统车库中<span style="color:#FF5B10">查找车型</span>, 选定型号及颜色加入订车清单。可根据
    <span style="color:#FF5B10">品牌，车辆型号</span>进行搜索。
  </div>
</div>
<div class="item">
  <div class="left">step2</div>
  <div class="center">
    <div class="line" style="height: 10px"></div>
    <div class="point"></div>
    <div class="line" style="height: 90px"></div>
  </div>
  <div class="right">
      进入订车清单，选择<span style="color:#FF5B10">配资比例</span>，并选定车辆来源。若所选车辆暂无报价，等待业务员与您联系并确认车辆及垫资金额。
  </div>
</div>
<div class="item">
  <div class="left">step3</div>
  <div class="center">
    <div class="line" style="height: 10px"></div>
    <div class="point"></div>
    <div class="line" style="height: 110px"></div>
  </div>
  <div class="right">
      提交订车清单，并等待业务人员与您联系沟通。确认清单金额无误后，请根据
      <span style="color:#FF5B10">打款信息进行汇款</span>。业务人员将与您签订垫资取车合同，并联系车源商进行订车。
  </div>
</div>
<div class="item">
  <div class="left">step4</div>
  <div class="center">
    <div class="line" style="height: 10px"></div>
    <div class="point"></div>
  </div>
  <div class="right">
    业务员取车后，将与您联系验车。验车完成后车辆进入仓库保管。
  </div>
</div>
<div style="padding: 10px 25px;">
  <div Button [type]="'primary'" style="color: #000;font-weight: bold" routerLink="/search">开始订车</div>
</div>