.group-item {
  .list {
    position: relative;
    padding: 38rpx 30rpx;
    overflow: hidden;
    border-bottom: 1px solid #d8d8d8;
    &:last-child {
      border-bottom: 0;
    }
    .list-img {
      width: 192rpx;
      height: 192rpx;
      overflow: hidden;
      position: relative;
      float: left;
      margin-right: 30rpx;
      image {
        width: 192rpx;
        height: 192rpx;
        display: block;
        border-radius: 6rpx;
      }
    }
    .list-content {
      height: 192rpx;;
      overflow: hidden;
      position: relative;
      .list-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        font-size: 32rpx;
        color: #333333;
      }
      .list-desc {
        margin: 10rpx 0;
        overflow: hidden;
        font-size: 26rpx;
        color: #B3B3B3;
        text:first-child {
          width: 360rpx;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          float: left;
        }
        text:last-child {
          float: right;;
        }
      }
      .list-html {
        width: 100%;
        height: 38rpx;
        overflow: hidden;
        text {
          padding: 0 10rpx;
          height: 34rpx;
          background: #fff;
          border-radius: 4rpx;
          border: 1rpx solid #FFC4C9;
          font-size: 22rpx;
          color: #FD2F43;
          display: block;
          float: left;
          margin-right: 4rpx;
        }
      }
      .list-price {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 99;
        .big-price {
          font-size: 34rpx;
          color: #FD2F43;
        }
        .small-price {
          padding-left: 20rpx;
          text-decoration: line-through;
          font-size: 26rpx;
          color: #666666;
        }
      }
    }
    .calculationNum {
      background: #fff;
      position: absolute;
      bottom: 40rpx;;
      right: 30rpx;
      z-index: 99;
      display: flex;  // 这边注意一下，最好使用flex布局
      align-items: center;
      justify-content: space-between;
      .removeProduct {
        width: 52rpx;
        height: 52rpx;
        display: block;
        background: url(https://cloudchain.oss-cn-hangzhou.aliyuncs.com/cloudchain/b2b/cms/decrease@2x.png) no-repeat #fff;
        background-size: 52rpx 52rpx;
        display: none;
        &.active {
          -webkit-animation-name: rollIn;
          animation-name: rollIn;
          -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          display: block;;
        }
      }
      .inputNum {
        width: 60rpx;
        height: 52rpx;
        text-align: center;
        display: block;
        opacity: 0;
        transition: all 1s;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;	
        -o-transition: all 1s;
        &.active {
          opacity: 1;
        }
      }
      .addProduct {
        width: 52rpx;
        height: 52rpx;
        display: block;
        background: url(https://cloudchain.oss-cn-hangzhou.aliyuncs.com/cloudchain/b2b/cms/add@2x.png) no-repeat #fff;
        background-size: 52rpx 52rpx;
      }
    }
  }
}

.mat-card-avatar {
  width: 70px;
  height: 70px;
  border-radius: 0;
}

.tag-container {
  display: flex;
  padding-top: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  tag {
    margin-right: 9px;
    margin-bottom: 9px;
  }
  ::ng-deep .am-tag-disabled {
    padding: 3px 8px;
    height:23px;
    background:rgba(254,240,223,1);
    border-radius:3px;
    border:1px solid rgba(255,114,0,1);
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(242,131,17,1);
    line-height:17px;
  }
}



.am-list-item.am-input-item {
  padding-left: 0px;
}

.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  .line {
    padding: 7px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-top: 1px #D0D0D0 solid;
    .left {
      flex: 1;
      // width:181px;
      height:23px;
      font-size:16px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(0,0,0,1);
      line-height:23px;
    }
    .border {
      position: relative;
      flex: 0 0 60px;
      text-align: center;
      border-left:1px solid #E0E0E0;
      .cart {
        width: 26px;
        height: 26px;
      }
      i {
        display:block;
        background:#f00;
        border-radius:50%;
        width:10px;
        height:10px;
        top:0px;
        right:12px;
        position:absolute;
      }
    }
    .right {
      flex: 0 0 100px;
      padding-left: 7px;
      border-left:1px solid #E0E0E0;
      .submit {
        padding: 6px 14px;
        background:rgba(255,212,0,1);
        border-radius:2px;
        // width:92px;
        // height:34px;
        font-size:16px;
        font-family:PingFangSC-Medium;
        font-weight:600;
        color:rgba(0,0,0,1);
        line-height:23px;
        text-align: center;
      }
    }
  }
}



.title {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #FFF;
  z-index: 999;
  box-sizing: border-box;
  div {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    font-size: 24px;
    padding-left: 10px;
  }
}

.example-card {
  margin-top: 47px;
  padding: 20px;
  box-shadow: none;
}
.example-header-image {
  width: 101px;
  height: 73px;
}

.action {
  .header {
    font-size: 15px;
    font-weight: 600;
    color: #000;
  }
  .sku {
    padding: 10px 0px;
    color: #9D9D9D;
    font-size: 12px;
  }
  .tagList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    tag {
      margin-right: 13px;
      margin-bottom: 9px;
    }
    ::ng-deep .am-tag {
      padding: 7px 30px;
      font-size:14px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(0,0,0,1);
      height: 34px;
      line-height:20px;
      border-radius:3px;
      border:1px solid rgba(151,151,151,1);
    }
    ::ng-deep .am-tag-active {
      background:rgba(255,212,0,1);
      border:1px solid rgba(0,0,0,1);
    }
  }
  // .tagList {
  //   padding: 0;
  //   ::ng-deep .am-tag {
  //     padding: 7px 30px;
  //     height: 28px;
  //     line-height: 14px;
  //   }
  //   ::ng-deep .am-tag-text {
  //     font-size: 14px;
  //   }
    
  // }
}

.stepper {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .label {
    flex: 1;
    font-size: 15px;
    font-weight: 600;
  }
  .box {
    flex:0 0 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    div {
      display: flex;
      align-items: center;
    }
    .ic {
      width: 20px;
      height: 20px;
    }
  }
}
.main {
  background-color: #F6F6F6;
}
.info-list {
  background-color: #FFF;
  padding: 16px;
  margin: 10px 0px;
  .header {
    font-size: 15px;
    font-weight: 600;
    color: #000;
  }
  .line {
    position: relative;
    display: flex;
    flex: 1;
    align-self: stretch;
    align-items: center;
    padding-right: 15px;
    overflow: hidden;
    line-height: 35px;
    border-bottom: 1px solid #E4E4E4;
    .label {
      width: 85px;
      color: #919191;
      font-size: 15px;
      margin-left: 0;
      margin-right: 5px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      padding: 2px 0;
    }
    .control {
      font-size: 15px;
      flex: 1;
    }
  }
}

