

.login-form {
    padding: 10px 0px;
    .full-width {
      width: 100%;
    } 
  }
  
  .mat-raised-button {
    padding: 10px 16px;
    font-size: 24px;
    border-radius: 30px;
  }
  
  .mat-focused {
    caret-color: #ffd740;
  }