<div style="padding: 12px 20px">
  <h2 *ngIf="type">企业认证</h2>
  <form class="login-form" *ngIf="type">
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="enterpriseName" [ngModelOptions]="{standalone: true}" placeholder="企业名称">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="enterpriseNo" [ngModelOptions]="{standalone: true}" placeholder="营业执照">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        readonly
        [value]="enterpriseCity"
        [(ngModel)]="enterpriseCity"
        [ngModelOptions]="{standalone: true}" 
        placeholder="所在城市"
        Picker
        [title]="'选择所在地'"
        (ngModelChange)="onOk($event)"
      >
    </mat-form-field>
  </form>
  <h2>个人认证</h2>
  <form class="login-form">
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" placeholder="姓名">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="idCard" [ngModelOptions]="{standalone: true}" placeholder="身份证">
    </mat-form-field>
    <div id="img"(click)="upStart()" class="bigImg">
      <!-- {{idCardImg ? '' : '上传名片正面照片'}} -->
    </div>
    <input #fileUpload hidden=true type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" />
    <button mat-raised-button color="accent" style="width: 100%" (click)="login()">提交认证</button>
  </form>
</div>
