<section style="">
    <Card [full]="true">
        <CardBody style="display:flex;padding: 0px;position:relative;height: 600px;">
            <div style="flex: 1;overflow-y: scroll;">
                <div *ngFor="let l of brand">
                    <h3 id="{{l.initial}}"  style="padding: 15px 10px 0px 10px;">{{l.initial}}</h3>
                    <!-- <Grid [data]="l.list" [hasLine]="false" columnNum="5" (OnClick)="click($event)"></Grid> -->
                    <div *ngFor="let i of l.list " (click)="click(i)"  style="padding: 10px;display: flex;align-items: center;border-bottom: 1px solid #DFDFDF">
                        <img [src]="i.icon" width="28" height="28" style="margin-right: 15px">
                        {{i.text}}
                    </div>
                </div>
            </div>
            <div class="list-bar">
                <a *ngFor="let l of list" (click)="toHere(l)">{{l}}</a>
            </div>
        </CardBody>
    </Card>
</section>
