<section>
    <Card [full]="true">
        <CardBody style="padding: 0px">
        <div *ngIf="showBrand" style="display:flex;padding:10px 0px 0px 15px;align-items: center"><img [src]="title.icon" width="30" height="30"><span style="margin-left: 10px;font-size:20px;font-weight: bold">{{title.text}} {{title.seriesName}}</span> </div>
        <div class="data">
            <!-- <ListItem *ngFor="let item of data" multipleLine [extra]="list" (click)="openBottomSheet(item)">
            {{item.seriesName}} {{item.modelName}}
            <Brief>{{item.sizeLevel}} {{item.plasticColor.join('/')}}</Brief>
            <ng-template #list>
                <div style="color: #FF7800;font-size: 16px">{{item.price}}万</div>
                <div style="color: #BFBFBF;font-size: 12px">指导价: {{item.guidePrice}}万</div>
            </ng-template>
            </ListItem>  -->
            <div class="listitem" *ngFor="let item of data" (click)="openBottomSheet(item)">
            <div class="top">
                <div class="left">{{item.seriesName}} {{item.modelName}}</div>
                <div *ngIf="item.price > 0" class="right">{{item.price}}万</div>
                <div *ngIf="item.price == 0" class="right">价格电议</div>
            </div>
            <div class="bottom">
                <div class="left">{{item.sizeLevel}} {{item.plasticColor.join('/')}}</div>
                <div class="right">指导价: {{item.guidePrice}}万</div>
            </div>
            </div>
        </div>
        </CardBody>
    </Card>
    </section> 