<div class="main">
		<div class="user-info">
			<div class="top-info">
				<div class="avatar"></div>
				<div class="name-info">
					<div class="row">
						<span class="name">刘丽华</span>
						<span class="auth">已认证</span>
					</div>
					<div class="row">未企业认证</div>
				</div>
				<div class="to-detail">></div>
			</div>
			<div class="auth-button">
				<div class="auth-one">个人认证</div>
				<div class="line"></div>
				<div class="auth-one">企业认证</div>
			</div>
		</div>
		<div class="user-tabs">
			<div class="tab" routerLink="/ListA">
				<div class="tab-icon">
					<img src="../../../assets/db/icon_order_nor.png" alt="">
				</div>
				<div class="tab-name">预约订单</div>
			</div>
			<div class="tab" routerLink="/ListB">
				<div class="tab-icon">
					<img src="../../../assets/db/icon_warehouse_nor.png" alt="">
				</div>
				<div class="tab-name">我的车库</div>
			</div>
		</div>
		<div class="lines"></div>
		<div class="records-list">
			<div class="title">取车记录</div>
			<h3 style="text-align: center">暂无记录</h3>
			<div class="list" *ngIf="data.length > 0">
				<div class="list-item">
					<div class="item-info">
						<span>取车单号：Q92342246 </span>
						<span>申请时间：2018/12/25 14:32</span>
					</div>
					<div class="odd-detail">
						<div class="left">
							<div class="car-info">宝马3系 2018款 318Li等3辆</div>
							<div class="get-info">取车时间：2018/12/23 14:0</div>
							<div class="get-info">取车地点：合肥市将南路298号</div>
						</div>
						<div class="right">已申请取车</div>
					</div>
				</div>
				<div class="list-item">
					<div class="item-info">
						<span>取车单号：Q92342246 </span>
						<span>申请时间：2018/12/25 14:32</span>
					</div>
					<div class="odd-detail">
						<div class="left">
							<div class="car-info">宝马3系 2018款 318Li等3辆</div>
							<div class="get-info">取车时间：2018/12/23 14:0</div>
							<div class="get-info">取车地点：合肥市将南路298号</div>
						</div>
						<div class="right">已申请取车</div>
					</div>
				</div>
			</div>
		</div>
	</div>