.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 15px 15px 25px;
  .left {
    font-size:33px;
    color:#FFD400;
    margin-right: 20px;
    font-weight: bold;
  }
}

.content-header {
  background-color: rgba(0, 0, 0, .12);
  color: #4caf50;
  // box-shadow: 0 0px 0 rgb(67, 47, 40), 0 0 15px #412f1c, 0 1px 3px rgba(0, 0, 0, .05);
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
}

.ui-content-header {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -108px;
  padding-top: 200px;
  padding-bottom: 58px;
  background-image: url(https://ricecar.oss-cn-hangzhou.aliyuncs.com/4631549076257_.pic_hd.jpg);
}



#cover{ 
  position:absolute;left:0px;top:0px;
  background:rgba(0, 0, 0, 0.4);
  width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
  height:100%;
  filter:alpha(opacity=60);  /*设置透明度为60%*/
  opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
  // display:none; 
  z-Index:999;  
}
#modal{ 
  position:absolute;
  width: 80%;
  border-radius: 20px;
  // height:300px;
  top:25%;
  left:10%;
  background-color:#fff;
  // display:none;
  text-align: center;
  cursor:pointer;
  z-Index:9999;  
}

.start {
  padding: 10px 25px;
  // margin-top: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
}