<div style="position: relative;padding-bottom: 67px;">
<img src="http://ricecar.oss-cn-hangzhou.aliyuncs.com/50601551258467_.pic_hd.jpg" style="width:100%;margin-bottom:-50px;"/>
<div class="item">
  <div class="left">80%&nbsp;</div>
  <div>
    <h2 style="font-size: 20px;margin-bottom: 10px">订车资金紧张？</h2>
    <div style="font-size: 15px;color:#8C8C8C">可提供80%配资，最高可达<span style="color:#FF5B10">1000万</span>! 手续简单, 费率低</div>
  </div>
</div>
<div class="item">
  <div class="left">500+</div>
  <div>
    <h2 style="font-size: 20px;margin-bottom: 10px">卖车没车源？</h2>
    <div style="font-size: 15px;color:#8C8C8C">500+优质供应商，想要的这里都有！ 代寻车源，发车快捷。</div>
  </div>
</div>
<div class="item">
  <div class="left">400+</div>
  <div>
    <h2 style="font-size: 20px;margin-bottom: 10px">在库实车</h2>
    <div style="font-size: 15px;color:#8C8C8C">随提随走，最快可当天取车。一键下单，手续全搞定！</div>
  </div>
</div>
<div class="start">
  <div Button [type]="'primary'" style="color: #000;font-weight: bold" (click)='next()'>申请垫资订车</div>
</div>
</div>




<div id="cover" *ngIf="modal"></div>
<div id="modal" *ngIf="modal">
  <h3 style="padding: 10px 15px;font-size: 16px">请先关注米粒车公众号后使用</h3>
  <img src="https://ricecar.oss-cn-hangzhou.aliyuncs.com/B371B86094FAE7EBA38782E5D7473580.jpg" width="200" height="200">
  <h4 style="padding: 10px 15px;color: #A2A2A2">长按识别上方二维码图片</h4>
</div>